#app {
    max-width: 600px;
    margin: 0 auto;
}

button {
    padding: 10px 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
}

table {
    width: 100%;
    margin: 10px 0;
}